@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
.header {
    font-family: 'Merriweather sans', cursive;
    color: #7ac8fb;
    
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    text-align: center;
    padding: 0;
    
    font-size: large;

    display: flex;
    
}

.logo {
   object-fit: scale-down;
}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.generic_button{
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: #7ac8fb;
}

/* -----------Sidebar------------ */

.sidebar_container {
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    background-color: rgb(223, 223, 223);
    width: 200px;
}

.sidebar_subcontainer {
    width: 100px;
    background-color: rgb(246, 246, 246)
}

.sidebar_title {
    padding: 5px;
    width: 100px;
    color: rgb(53, 53, 53);
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 2px solid lightgray;
}

.sidebar_item {
    padding: 5px;
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.sidebar_link {
    color: rgb(116, 116, 116);
    text-decoration: none;
}

.sidebar_item:hover {
    cursor: pointer;
    color: rgb(240, 240, 240);
    background-color: rgb(71, 71, 71)
}

.sidebar_button {
    border: none;
    font-weight: bold;
    margin-top: 5px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color:#7ac8fb;
}

.sidebar_button:hover{
    cursor: pointer;
    background-color: #3681b3;
}

.container {
    display: flex;
    width: 1000px;
    height: 600px;
}


/* ------Header------ */

.header {
    background-color: rgb(240, 240, 240);
    width: 100%;
    border-radius: 7px;
}


/* ------Navbar------- */

.navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #7ac8fb;
    height: 45px;
    border-radius: 7px;
}

.navbar_item {
    font-weight: bold;
    color: black;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 7px;
    padding: 5px 10px;
}

.navbar_item:hover{
    background-color:#e6e6e6;
    cursor: pointer;
}

.navbar_link {
    text-decoration: none;
    color: rgb(53, 53, 53);
}


/* -----Main Container----- */

.main_container {
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 100%;
}


/* ------Login Page----- */

.loginPage {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBg {
    /* background-image: url('/public/studying.jpg'); */
    /* background-size: 300px 100px; */
    border-radius: 0.625rem;
}

.loginForm {
    margin-left: 20px;
    width: 350px;
    height: 350px;
    width: 20rem;
    padding: 3rem;
    box-sizing: border-box;
    background: rgba(235, 235, 235, 0.685);
    /* background: #1d35575d; */
    font-size: 20px;
    color: #535353;
    border-radius: 0.625rem;
}

.loginForm input {
    width: 100%;
    height: 25px;
    border-radius: 1px;
    font-size: 15px;
    margin-bottom: 10px;
}


.submitBtn input {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
}

.signupPage {
    margin-top: 20%;
    width: 400px;
    height: 500px;
    width: 20rem;
    padding: 3rem;
    box-sizing: border-box;
    background: rgba(3, 4, 5, 0.685);
    border-radius: 2px;
    font-size: 20px;
    color: #f1faee;
    border-radius: 0.625rem;
}

.signupPage input {
    width: 100%;
    height: 25px;
    border-radius: 1px;
    font-size: 15px;
    margin-bottom: 10px;
}

ul.navbar_content {
    background-color: #f1faee;
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 #1d3557;
}

li.navbar_item {
    display: inline;
    margin: 20px;
    color: #e63946;
    text-decoration: none;
}


/* ------Event Profile Page----- */

.item1 {
    grid-area: picture;
}

.item2 {
    grid-area: bio;
}

.item3 {
    grid-area: friends;
}

.item4 {
    grid-area: map;
}

.event-container {
    display: grid;
    grid-template-areas: 'picture picture bio bio bio' 'picture picture bio bio bio' 'friends friends friends friends friends' 'map map map map map';
    grid-gap: 5px;
    /* background-color: #2196F3; */
    padding: 5px;
}

.event-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px 0;
    /* font-size: 30px; */
    border-radius: 3%;
}

.userProfile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 7px;
}

.profilePic {
    border-radius: 0.625rem;
    height: 200px;
    width: 200px;
}

.displayName {
    padding-top: 10px;
    font-weight: bold;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.contact {
    padding-top: 10px;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.location {
    padding-top: 10px;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.name {
    padding-top: 10px;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.bio {
    padding-top: 10px;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.eventLandingContainer {
    display: grid;
    grid-template-areas: 'classContainer classContainer' 'eventContainer eventContainer';
    align-items: start;
    margin-top: 1rem;
    background-color: #e9e9e9;
    border-radius: 10px;
    justify-content: flex-start;
    font-size: 18px;
    padding: 10px;
}

.eventContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    grid-area: eventContainer;
    width: 300px
}

.events {
    margin-top: 1rem;
}

.classContainer {
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 0;
    border-radius: 10px;
    grid-area: classContainer;
    padding: 10px;
}



.classinfos {
    justify-content: center;
    margin-top: 1rem;
}

.classItem {
    margin-top: .3rem;
}

.eventItem {
    margin-top: .3rem;
}

.eventTitle {
    color: rgb(46, 46, 46);
}

.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 25px;
}

/* .eventList {
    display: flex;
}



.event {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}



*/


/* .classContainer>div {
    df
} */

.signup_link {
    text-decoration: none;
    color: black;
    
}

.schoollanding_container {
    padding: 10px;
    background-color: white;
    border-radius: 7px;
}